
:root {
  --facens: #22429b;
  --background: #151520;
  --active: #ffffff09;
  --green: #10a850;
  --red: #eb2727;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: var(--header-heigth) 87.2vh;
  overflow: hidden;
  background: var(--background);
  background: linear-gradient(to top, #222233 0%, #151520 100%);
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #757575;
  border-radius: 50px;
}